/*
 * File type glyphs from file-icons/atom.
 * Source: https://github.com/file-icons/atom
 * License: MIT
 */

@font-face {
  font-family: "file-icons";
  font-style: normal;
  font-weight: normal;
  src: url("../assets/vendor/file-icons/file-icons.woff2") format("woff2");
}

.pm-file-icon {
  align-items: center;
  display: inline-flex;
  height: 24px;
  justify-content: center;
  line-height: 1;
  width: 24px;
}

.pm-file-icon::before {
  display: inline-block;
  font-family: "file-icons";
  font-size: 17px;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  transform: translateY(-3px);
  -webkit-font-smoothing: antialiased;
}

.pm-file-icon--default::before {
  content: "\1f5cc";
  font-size: 16px;
}

.pm-file-icon--excel::before {
  content: "\e9ee";
}

.pm-file-icon--image::before {
  content: "\eaab";
}

.pm-file-icon--outlook::before {
  content: "\eada";
  font-size: 18px;
}

.pm-file-icon--powerpoint::before {
  content: "\e9ec";
}

.pm-file-icon--word::before {
  content: "\e9ed";
}

.pm-file-icon--blue::before {
  color: #4d8ea6;
}

.pm-file-icon--green::before {
  color: #7f9b3f;
}

.pm-file-icon--grey::before {
  color: #7f7f7f;
}

.pm-file-icon--orange::before {
  color: #b8743d;
}

.pm-file-icon--purple::before {
  color: #9c6392;
}

.pm-file-icon--red::before {
  color: #ac4142;
}

.pm-file-icon--yellow::before {
  color: #bf8c45;
}
